<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheetGame.css">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <a class="button" type="button" href="/stats" >Zur Statistik</a>
        <h1></h1>
        <a class="button" type="button" href="/game" >Zum Spiel</a>
    </div>
</body>
</html>